/* fonts */
@font-face {
  font-family: 'Bebas Neue';
  src: url(./fonts/BebasNeue-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* styles normalization */
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-weight: normal;
}
:where(ul, ol):where([class]) {
  padding-left: 0;
}
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}
:where(dd[class]) {
  margin-block: 0;
}
:where(ul[class]) {
  list-style: none;
}
img {
  display: block;
}
input,
textarea,
select,
button {
  font: inherit;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  line-height: 1.5;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* variables */
:root {
  --font-family-base: 'Bebas Neue', sans-serif;
  --font-family-accent: 'Manrope', sans-serif;
  --font-weight-accent-regular: 400;
  --font-weight-accent-medium: 500;
  --font-weight-accent-bold: 700;

  --color-light: #d3d7e7;
  --color-hard-dark: #221831;
  --color-medium-dark: #465779;
  --color-button-border: #484848;
  --color-accent: #377aff;

  --border-radius-button: 100px;
  --border-radius-icons: 50%;

  --border-dark: 1px solid var(--color-hard-dark);
  --border-light: 1px solid var(--color-light);

  --transition-duration: 0.2s;
}

/* common styles */
.container {
  display: grid;
}
.container-landing {
  padding-inline: 120px;
}
.container-section {
  padding-inline: 120px 140px;
}
.section-title {
  font-family: var(--font-family-base);
  color: var(--color-hard-dark);
}
.section-title-l {
  font-size: 101px;
  line-height: 0.9;
}
.section-title-m {
  font-size: 76px;
  line-height: 1;
}
.section-text {
  font-family: var(--font-family-accent);
}
.section-text-xl {
  font-weight: var(--font-weight-accent-medium);
  font-size: 32px;
  line-height: 1.4;
  color: var(--color-hard-dark);
}
.section-text-l {
  font-weight: var(--font-weight-accent-medium);
  font-size: 24px;
  line-height: 1.4;
  color: var(--color-hard-dark);
}
.section-text-m {
  font-weight: var(--font-weight-accent-regular);
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-medium-dark);
}
.section-text-s {
  font-weight: var(--font-weight-accent-medium);
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-medium-dark);
}
.section-text-button {
  font-weight: var(--font-weight-accent-bold);
  font-size: 16px;
  line-height: 1;
  color: var(--color-light);
}
.skill-substrate-text {
  font-weight: var(--font-weight-accent-bold);
  font-size: 16px;
  line-height: 1;
  color: var(--color-hard-dark);
}
.button {
  padding: 12px 24px;
}
.button-btn {
  background-color: var(--color-hard-dark);
  border: var(--border-light);
  border-radius: var(--border-radius-button);
}
.button-btn:hover {
  background-color: var(--color-light);
  color: var(--color-hard-dark);
  border: var(--border-dark);
}
.button-icon {
  border-radius: var(--border-radius-icons);
  background-color: var(--color-hard-dark);
  height: 42px;
  aspect-ratio: 1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.skills-container-substrates {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
}
.skill-substrate {
  padding: 20px 40px;
  background-color: var(--color-light);
  border: 1px solid var(--color-hard-dark);
}
.section-divider {
  margin: 0;
  width: 100%;
  border: 1px solid var(--color-button-border);
  border-radius: 2px;
  opacity: 0.3;
}

/* let`s go */
body {
  margin: 0;
  padding: 18px;
  overflow-x: hidden;
  font-family: var(--font-family-base);
  font-weight: normal;
  background-color: var(--color-light);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 60px;
}
.header-logo {
  color: var(--color-medium-dark);
  font-size: 24px;
  line-height: 1.5;
}
.header-menu-list {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-accent-medium);
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
}
.header-menu-link {
  text-decoration: none;
  color: var(--color-medium-dark);
}
.is-current {
  color: var(--color-hard-dark);
}

.about {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'title main'
    '. other'
    '. buttons';
  place-content: center;
  min-height: 90dvh;
}
.about-title {
  grid-area: title;
}
.about-info-main {
  grid-area: main;
  margin-bottom: 16px;
}
.about-info-other {
  grid-area: other;
  margin-bottom: 40px;
}
.about-info-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.download-resume-button {
  text-decoration: none;
}
.download-resume-button,
.linkedin-button,
.github-button {
  transition: var(--transition-duration) ease;
}
.download-resume-button:hover,
.linkedin-button:hover,
.github-button:hover {
  scale: 1.03;
}

.portfolio {
  padding-top: 60px;
  grid-template-columns: 1fr 2fr;
  gap: 300px;
}
.portfolio-cards-container {
  margin: 100px auto 60px;
  max-width: 76%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 42px;
}
.portfolio-card-wrapper {
  text-align: center;
  width: 308px;
  height: auto;
  border-radius: 20px;
  background-color: var(--color-hard-dark);
  transition: var(--transition-duration) ease;
}
.portfolio-card-wrapper:hover {
  scale: 1.02;
}
.portfolio-card-image {
  width: 308px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.portfolio-card-description {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-accent-medium);
  color: var(--color-light);
  font-size: 16px;
  margin-block: 16px;
}
