/* fonts */
@font-face {
  font-family: 'Bebas Neue';
  src: url(./fonts/BebasNeue-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* styles normalization */
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-weight: normal;
}
:where(ul, ol):where([class]) {
  padding-left: 0;
}
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}
:where(dd[class]) {
  margin-block: 0;
}
:where(ul[class]) {
  list-style: none;
}
img {
  display: block;
}
input,
textarea,
select,
button {
  font: inherit;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  line-height: 1.5;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* variables */
:root {
  --font-family-base: 'Bebas Neue', sans-serif;
  --font-family-accent: 'Manrope', sans-serif;
  --font-weight-accent-regular: 400;
  --font-weight-accent-medium: 500;
  --font-weight-accent-bold: 700;

  --color-light: #d3d7e7;
  --color-hard-dark: #221831;
  --color-medium-dark: #465779;
  --color-button-border: #484848;
  --color-accent: #377aff;

  --border-radius-button: 100px;
  --border-radius-icons: 50%;

  --border-dark: 1px solid var(--color-hard-dark);
  --border-light: 1px solid var(--color-light);

  --transition-01: 0.1s ease;
  --transition-02: 0.2s ease;
  --transition-03: 0.3s ease;
}

/* common styles */
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding-inline: 120px;
  padding-top: 80px;
}
.container-left {
  display: flex;
  align-items: flex-start;
}
.container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

.section-title {
  font-family: var(--font-family-base);
  color: var(--color-hard-dark);
}
.section-title-l {
  font-size: clamp(60px, 8vw, 101px);
  line-height: 0.9;
}
.section-title-m {
  font-size: clamp(50px, 6vw, 76px);
  line-height: 1;
}
.section-text {
  font-family: var(--font-family-accent);
}
.section-text-xl {
  font-weight: var(--font-weight-accent-medium);
  font-size: clamp(20px, 2.5vw, 32px);
  line-height: 1.4;
  color: var(--color-hard-dark);
}
.section-text-l {
  font-weight: var(--font-weight-accent-medium);
  font-size: clamp(18px, 2vw, 24px);
  line-height: 1.4;
  color: var(--color-hard-dark);
}
.section-text-m {
  font-weight: var(--font-weight-accent-regular);
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.5;
  color: var(--color-medium-dark);
}
.section-text-s {
  font-weight: var(--font-weight-accent-medium);
  font-size: clamp(14px, 1.2vw, 16px);
  line-height: 1.6;
  color: var(--color-medium-dark);
}
.section-text-button {
  font-weight: var(--font-weight-accent-bold);
  font-size: clamp(14px, 1.2vw, 16px);
  line-height: 1;
  color: var(--color-light);
}
.skill-substrate-text {
  font-weight: var(--font-weight-accent-bold);
  font-size: clamp(14px, 1.2vw, 16px);
  line-height: 1;
  color: var(--color-hard-dark);
}
.company-name {
  font-family: var(--font-family-accent);
  font-weight: 600;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.6;
  color: var(--color-accent);
}
.button {
  padding: 12px 24px;
  min-height: 44px;
}
.button-btn {
  background-color: var(--color-hard-dark);
  border: var(--border-light);
  border-radius: var(--border-radius-button);
}
.button-btn:hover {
  background-color: var(--color-light);
  color: var(--color-hard-dark);
  border: var(--border-dark);
}
.button-icon {
  border-radius: var(--border-radius-icons);
  background-color: var(--color-hard-dark);
  height: 42px;
  aspect-ratio: 1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.skills-container-substrates {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
}
.skill-substrate {
  padding: 20px 40px;
  background-color: var(--color-light);
  border: 1px solid var(--color-hard-dark);
}
.section-divider {
  margin: 0;
  width: 100%;
  border: 1px solid var(--color-button-border);
  border-radius: 2px;
  opacity: 0.3;
}
.section-divider:not(:first-of-type) {
  margin-top: 80px;
}

/* let`s go */
body {
  margin: 0;
  padding: 18px;
  font-family: var(--font-family-base);
  font-weight: normal;
  background-color: var(--color-light);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 60px;
}
.header-logo {
  color: tomato;
  font-size: 24px;
  line-height: 1.5;
}
.header-menu-list {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-accent-medium);
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
}
.header-menu-link {
  text-decoration: none;
  color: var(--color-medium-dark);
}
.is-current {
  color: var(--color-hard-dark);
}
.burger-menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  width: 30px;
  height: 30px;
  transition: all var(--transition-03);
  padding-top: 8px;
}
.burger-menu-bar {
  background-color: var(--color-hard-dark);
  height: 2px;
  width: 100%;
  border-radius: 2px;
  transition: transform var(--transition-03), opacity var(--transition-01);
}
.burger-menu-btn.open .burger-menu-bar:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 6px;
}
.burger-menu-btn.open .burger-menu-bar:nth-child(2) {
  opacity: 0;
}
.burger-menu-btn.open .burger-menu-bar:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}
.header-menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about {
  min-height: 90dvh;
  padding-top: 240px;
}
.about-info {
  max-width: 700px;
}
.about-info-main {
  margin-bottom: 16px;
}
.about-info-other {
  margin-bottom: 40px;
}
.about-info-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.download-resume-button {
  text-decoration: none;
  box-sizing: border-box;
}
.download-resume-button,
.linkedin-button,
.github-button {
  transition: var(--transition-02);
}
.download-resume-button:hover,
.linkedin-button:hover,
.github-button:hover {
  scale: 1.03;
}

.portfolio-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 60px;
}
.portfolio-card-wrapper {
  width: 295px;
  height: 161px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.portfolio-card-wrapper:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card-front {
  background-color: var(--color-hard-dark);
  color: var(--color-light);
  font-size: clamp(16px, 1.5vw, 18px);
}
.card-front p {
  user-select: none;
}
.card-back {
  background-color: var(--color-hard-dark);
  color: var(--color-light);
  transform: rotateY(180deg);
}
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio-card-wrapper.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.skills-container-substrates {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
}
.skill-substrate {
  user-select: none;
  padding: 18px 36px;
  background-color: transparent;
  border: var(--border-dark);
  border-radius: var(--border-radius-button);
  transition: var(--transition-02);
}
.skill-substrate:hover {
  scale: 1.02;
}

.experience-container-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.experience-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.experience-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.experience-text {
  text-align: justify;
}

.contact {
  margin-bottom: 80px;
}
.contact-title {
  margin-bottom: 16px;
}
.contact-left-container-first-p {
  margin-bottom: 8px;
}
.contact-left-container-first-p a,
.contact-left-container-second-p a {
  color: var(--color-accent);
}
label {
  margin-bottom: 8px;
}
input {
  margin-bottom: 24px;
}
textarea {
  margin-bottom: 40px;
}
input,
textarea {
  min-width: 100%;
  border: 1px solid var(--color-button-border);
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-hard-dark);
  font-family: var(--font-family-accent);
  font-size: clamp(14px, 1.2vw, 16px);
  padding: 12px 16px;
  box-sizing: border-box;
}
.form-button {
  transition: scale var(--transition-02);
}
.form-button:hover {
  cursor: pointer;
  scale: 1.03;
}

@media (max-width: 1350px) {
  .about {
    padding-top: 220px;
  }
  .about-info {
    max-width: 600px;
  }
}
@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .container-right {
    max-width: none;
  }
  .about {
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1180px) {
  .portfolio-cards-container {
    gap: 4px;
    justify-content: center;
  }
}
@media (max-width: 1100px) {
  .container {
    padding-inline: 60px;
  }
}
@media (max-width: 800px) {
  .header,
  .container {
    padding-inline: 40px;
  }
  .container {
    padding-top: 60px;
  }
  .header-menu-list {
    column-gap: 16px;
  }
  .about {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .section-divider:not(:first-of-type) {
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .header,
  .container {
    padding-inline: 0;
  }
  .header-menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    background-color: var(--color-medium-dark);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 0;
  }
  .burger-menu-btn {
    display: flex;
  }
  .header-menu-list.open {
    display: flex;
  }
  .header-menu-item {
    margin: 2px 0;
  }
  .header-menu-link {
    text-decoration: none;
    color: var(--color-light);
  }
  .portfolio-cards-container {
    margin-top: 40px;
  }
  .skills-container {
    gap: 14px;
  }
  .skills-container-substrates {
    gap: 10px;
  }
  .skill-substrate {
    padding: 14px 26px;
  }
}
@media (max-width: 500px) {
  .experience-container {
    row-gap: 8px;
  }
  .experience-container-top {
    flex-direction: column;
    align-items: start;
  }
  .contact {
    margin-bottom: 40px;
    row-gap: 32px;
  }
  input {
    margin-bottom: 14px;
  }
  textarea {
    margin-bottom: 20px;
  }
}
@media (max-width: 340px) {
  .about-info-buttons {
    column-gap: 2px;
  }
}
